@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;1,9..40,400&family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400;1,600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 6.6667%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 6.6667%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 6.6667%;
    --primary: 0 72.2222% 50.5882%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 20.0000% 98.0392%;
    --secondary-foreground: 0 0% 6.6667%;
    --muted: 210 20.0000% 98.0392%;
    --muted-foreground: 217.8947 10.6145% 64.9020%;
    --accent: 0 93.3333% 94.1176%;
    --accent-foreground: 0 72.2222% 50.5882%;
    --destructive: 0 72.2222% 50.5882%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 89.8039%;
    --input: 0 0% 100%;
    --ring: 0 72.2222% 50.5882%;
    --chart-1: 0 72.2222% 50.5882%;
    --chart-2: 0 0% 6.6667%;
    --chart-3: 0 0% 26.6667%;
    --chart-4: 217.8947 10.6145% 64.9020%;
    --chart-5: 0 0% 89.8039%;
    --sidebar: 0 0% 100%;
    --sidebar-foreground: 0 0% 6.6667%;
    --sidebar-primary: 0 72.2222% 50.5882%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 210 20.0000% 98.0392%;
    --sidebar-accent-foreground: 0 0% 6.6667%;
    --sidebar-border: 0 0% 89.8039%;
    --sidebar-ring: 0 72.2222% 50.5882%;
    --font-sans: DM Sans, sans-serif;
    --font-serif: Playfair Display, serif;
    --font-mono: Geist Mono, ui-monospace, monospace;
    --radius: 0rem;
    --shadow-x: 1px;
    --shadow-y: 1px;
    --shadow-blur: 0px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.05;
    --shadow-color: rgba(0,0,0,1);
    --shadow-2xs: 1px 1px 0px 0px hsl(0 0% 0% / 0.03);
    --shadow-xs: 1px 1px 0px 0px hsl(0 0% 0% / 0.03);
    --shadow-sm: 1px 1px 0px 0px hsl(0 0% 0% / 0.05), 1px 1px 2px -1px hsl(0 0% 0% / 0.05);
    --shadow: 1px 1px 0px 0px hsl(0 0% 0% / 0.05), 1px 1px 2px -1px hsl(0 0% 0% / 0.05);
    --shadow-md: 1px 1px 0px 0px hsl(0 0% 0% / 0.05), 1px 2px 4px -1px hsl(0 0% 0% / 0.05);
    --shadow-lg: 1px 1px 0px 0px hsl(0 0% 0% / 0.05), 1px 4px 6px -1px hsl(0 0% 0% / 0.05);
    --shadow-xl: 1px 1px 0px 0px hsl(0 0% 0% / 0.05), 1px 8px 10px -1px hsl(0 0% 0% / 0.05);
    --shadow-2xl: 1px 1px 0px 0px hsl(0 0% 0% / 0.13);
    --tracking-normal: 0.08em;
    --spacing: 0.25rem;
  }

  .dark {
    --background: 0 0% 6.6667%;
    --foreground: 0 0% 100%;
    --card: 0 0% 10.1961%;
    --card-foreground: 0 0% 100%;
    --popover: 0 0% 6.6667%;
    --popover-foreground: 0 0% 100%;
    --primary: 0 72.2222% 50.5882%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 14.9020%;
    --secondary-foreground: 0 0% 100%;
    --muted: 0 0% 14.9020%;
    --muted-foreground: 217.8947 10.6145% 64.9020%;
    --accent: 0 100.0000% 8.2353%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 70% 35.2941%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 14.9020%;
    --input: 0 0% 10.1961%;
    --ring: 0 72.2222% 50.5882%;
    --chart-1: 0 72.2222% 50.5882%;
    --chart-2: 0 0% 100%;
    --chart-3: 217.8947 10.6145% 64.9020%;
    --chart-4: 0 0% 26.6667%;
    --chart-5: 0 0% 6.6667%;
    --sidebar: 0 0% 6.6667%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 0 72.2222% 50.5882%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 0 0% 14.9020%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 0 0% 14.9020%;
    --sidebar-ring: 0 72.2222% 50.5882%;
    --font-sans: DM Sans, sans-serif;
    --font-serif: Playfair Display, serif;
    --font-mono: Geist Mono, ui-monospace, monospace;
    --radius: 0rem;
    --shadow-x: 1px;
    --shadow-y: 1px;
    --shadow-blur: 0px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.2;
    --shadow-color: rgba(0,0,0,1);
    --shadow-2xs: 1px 1px 0px 0px hsl(0 0% 0% / 0.10);
    --shadow-xs: 1px 1px 0px 0px hsl(0 0% 0% / 0.10);
    --shadow-sm: 1px 1px 0px 0px hsl(0 0% 0% / 0.20), 1px 1px 2px -1px hsl(0 0% 0% / 0.20);
    --shadow: 1px 1px 0px 0px hsl(0 0% 0% / 0.20), 1px 1px 2px -1px hsl(0 0% 0% / 0.20);
    --shadow-md: 1px 1px 0px 0px hsl(0 0% 0% / 0.20), 1px 2px 4px -1px hsl(0 0% 0% / 0.20);
    --shadow-lg: 1px 1px 0px 0px hsl(0 0% 0% / 0.20), 1px 4px 6px -1px hsl(0 0% 0% / 0.20);
    --shadow-xl: 1px 1px 0px 0px hsl(0 0% 0% / 0.20), 1px 8px 10px -1px hsl(0 0% 0% / 0.20);
    --shadow-2xl: 1px 1px 0px 0px hsl(0 0% 0% / 0.50);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
